@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 96%;
    --foreground: 275 100% 10%;
    --card: 0 0% 100%;
    --card-foreground: 275 100% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 100% 10%;
    --primary: 275 100% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 182 100% 74%;
    --accent-foreground: 182 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 98%;
    --ring: 275 100% 41%;
    --radius: 0.5rem;
    --sidebar-background: 275 100% 41%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 275 100% 41%;
    --sidebar-accent: 275 80% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 100% 50%;
    --sidebar-ring: 182 100% 74%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 90% 65%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 182 90% 65%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 275 90% 65%;
    --sidebar-background: 240 8% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 275 90% 65%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 182 90% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
